#foot{
    background: #021017;
    padding: 80px 0 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

#footer-logo{
    display: flex;
    justify-content: center;
}

#footer-logo > img{
    width: 200px;
    margin-bottom: 30px;
}

#footer-nav{
    margin-bottom: 30px;
}

#footer-nav > ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-nav > ul > a > li{
    line-height: 27px;
    font-weight: 500;
    font-size: 15px;
    font-family: roboto,sans-serif;
    color: #fff;
    margin-right: 40px;
}

#footer-social{
    text-align: center;
    margin: 5px 0 30px;
}

#footer-social > a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 36px;
    color: #05364d;
    font-size: 16px;
    margin-right: 12px;
    transition: all .4s ease 0s;
}

#footer-social > a:hover{
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    color: #fff;
}

#copyright-text{
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    font-family: roboto,sans-serif;
    color: #797979;
}

#copyright-text > .far{
    transition: 0.3s;
}
#copyright-text:hover > .far{
    color: rgba(255, 0, 0, 0.85);
    transition: 0.3s;
}