.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.port{
    position: relative;
    margin-top: 20px;
}

.port .overlay{
    transition: all .4s ease 0s;
}

.port:hover .overlay{
    top: 20px;
    left: 20px;
    background: rgba(19,69,230,.9);
}

.port .short-desc{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.port:hover .short-desc{
    bottom: 24px;
    left: 60px;
    opacity: 1;
    visibility: visible;
    z-index: 6;
}

.work-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.work-image:before {
    width: 90%;
    height: 200px;
    content: "";
    display: block;
    position: absolute;
    background-color: #747a7f;
}

.work-skeleton {
    background: #d5d5d5;
    width: 94%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.work-skeleton.work-loaded {
    display: none;
}

.work-skeleton::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}