* {
    padding: 0;
    margin: 0;
}

.overflow, .circle-square {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    position: fixed;
}
.overflow {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke
}

.circle-square {
    z-index: 9999;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.red,.green,.yellow,.blue{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 5px;
}

.red {
    background-color: #DB4437;
    animation: movingRed 1s infinite alternate;

}

.blue {
    background-color: #256DE8;
    animation: movingBlue 1s infinite alternate;

}

.green {
    background-color: #be0ce9;
    animation: movingGreen 1s infinite alternate;

}

.yellow {
    background-color: #F4B400;;
    animation: movingYellow 1s infinite alternate;

}


main {
    background-color: blueviolet;
}

/* CSS ANIMATION */

@keyframes movingRed {
    from {

        top: 0;
        left: 0;

    }

    to {

        top: 50px;
        left: 50px;
    }
}

@keyframes movingYellow {
    from {

        top: 0;
        left: 0;

    }

    to {

        top:-50px;
        left:-50px;
    }
}

@keyframes movingGreen {
    from {

        top: 0;
        left: 0;

    }

    to {

        top:-50px;
        left:50px;
    }
}

@keyframes movingBlue {
    from {

        top: 0;
        left: 0;

    }

    to {

        top:50px;
        left:-50px;
    }
}
.loaded {
    display: none;
}