.mainbox {
    background: rgb(34,89,226);
    background: linear-gradient(90deg, rgba(34,89,226,1) 0%, rgba(164,76,199,1) 89%, rgba(164,76,199,1) 100%);
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
}

.error-far {
    font-size: 8.5rem;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 50%;
}

.link a {
    text-decoration: none;
    color: white;
}

.link a:hover {
    text-decoration: underline;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 700px) {
    .msg {
        width: 80%;
    }
}